* {box-sizing: border-box;}

:root {
    --clr-lightest: #FFE5D1;
    --clr-light: #FF9D54;
    --clr-dark: #BD5000;
    --clr-accent: #E2BE00;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background: black;
    color: white;
    line-height: 1.6;
    text-align: center;
}

img {
    max-width: 100%;
}

.container {
    width: 85%;
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BUTTON */
.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: var(--clr-dark);
    padding: .4rem 1.25rem;
    border-radius: 100px;
    font-weight: bold;
    border: none;
}

.btn:hover,
.btn:focus {
    background-color: var(--clr-accent);
}

.btn-form {
    margin: 1rem auto 2rem;
    padding: .4rem 1.6rem;
    text-transform: uppercase;
}

/* NAVIGATION */
nav {
    background-color: var(--clr-light);
}

.nav__logo {
    width: 3rem;
    margin: 1rem;
}

.nav__name {
    width: 75%;
}

.nav__list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav__item {
    margin-left: 0;
}

.nav__link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav__link--home {
    color: var(--clr-dark);
}

.nav__link:hover, 
.nav__link:focus {
    color: var(--clr-dark);
}

.nav__link--home:hover,
.nav__link--home:focus {
    color: black;
}

/* HERO */
.hero {
    text-align: center;
}

.hero__title {
    color: var(--clr-dark)
}

.hero__text {
    padding: 0 2rem;
}

/* SECTION 1 */

.section1__main {
    background: linear-gradient(var(--clr-light), var(--clr-accent));
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.section1__main--img {
    width: 2rem;
}

/* SECTION 2 */
.section2__btn {
    margin-bottom: 2rem;
}

/* FOOTER */
footer {
    background-color: var(--clr-dark);
}

.footer__images {
    display: flex;
    justify-content: space-around;
}

.footer__images-img {
    width: 16.8%;
}


/* ABOUT PAGE / TECHNOLOGY */
.technology__title,
.services__title {
    color: var(--clr-dark);
    margin-top: 3rem;
}

.technology__img {
    width: 40%;
    max-width: 200px;
}

.three__images {
    display: flex;
    justify-content: space-around;
}

.three__images-img {
    width: 33.4%;
}

.services__grid {
    display: flex;
    flex-direction: column;
}

.services__grid--card {
    border: 5px solid var(--clr-dark);
    border-radius: 20px;
    margin: 1rem;
    padding: 1.5rem;
    color: black;
    background: var(--clr-light);
}

/* CONTACT */

.page-section-title {
    color: var(--clr-dark)
}
.contact__section1 {
    background: linear-gradient(var(--clr-light), var(--clr-accent));
}

.contact__section1__main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.contact__section1__img {
    margin: 2rem;
}

.contact__main {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    width: 400px;
    max-width: 60%;
    margin: auto;
}

label {
    font-weight: bold;
    color: var(--clr-dark);
}

input {
    margin-bottom: 1em;
}

textarea {
    height: 8rem;
    margin-bottom: 1em;
}

.contact__aside-img {
    width: 75px;
}

/*TRACKING PAGE */
.tracking-logo {
    width: 75px;
    margin-bottom: 2rem;
}

.no-margin {
    margin: 0;
}

.trk-contact {
    margin: 3rem;
}

#emailaddress a {
    color: var(--clr-dark);
    text-decoration: none;
    font-weight: bold;
}

#emailaddress a:hover,
#emailaddress a:focus {
    color: var(--clr-light);
}

/* MEDIA QUERY */
@media (min-width: 650px) {
    .nav__list {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .section1 {
        flex-direction: row;
    }
    .section1__img {
        max-width: 329px;
    }
    .section1__main {
        height: 220px;     
    }
    .services__grid--section {
        display: flex;
    }
    .services__grid--card {
        width: 50%;
    }
    .contact__main {
        flex-direction: row;
        align-items: center;
    }
    .contact-form {
        max-width: 100%;
    }
    .contact__aside {
        max-width: 300px;
        margin: auto 2rem;
    }
    .contact__aside-text {
        margin-bottom: 2rem;
    }
}

.ip-track {
    
    text-align: right;
    align-self: flex-end;
}


